<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mihaela.claudia.diosan.hapis_mihaelaclaudiadiosan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hapis_icon"
        android:label="@string/name"
        android:roundIcon="@mipmap/hapis_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register.RegisterVolunteerActivity"
            android:label="@string/register_volunteer_name"/>

        <activity android:name=".register.RegisterDonorActivity"
            android:label="@string/register_donor_name"/>

        <activity android:name=".register.RegisterActivity"
            android:label="@string/register_activity_name"/>

        <activity android:name=".login.ForgotPasswordActivity"
            android:label="@string/forgot_password_name"/>

        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".intro.IntroActivity"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>